.contact-container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact-container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: black;
	z-index: -1;
}

.contact-box{
	max-width: 500px;
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    background-color: black;
	margin-top: 70px;
}

.contact-box .right{
	padding: 50px 70px;
	background-color: black;
}

.contact-box h2{
	padding: 0 0 10px;
	background: black;
	color: white;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
}

.contact-box h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
}

.contact-box .field{
	width: 443px;
	height: 65px;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	margin-bottom: 22px;
	transition: 250ms ease-in-out;
	background: #DADAFF;
	color: black;
}

.contact-box textarea{
	min-height: 120px;
}

.contact-box .btn{
	width: 443px;
	height: 65px;
	font-size: 16px;
	font-weight: 800;
	line-height: 20px;
	padding: 0.5rem 1rem;
	background-color: #ffff;
	color: #2F24AE;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 250ms ease-in-out;
}

.contact-box .btn:hover{
    background-color: #DADAFF;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	font-weight: 400;
	font-size: 15px;
	line-height: 23px;
    font-style: normal;
	opacity: 1; /* Firefox */
}

.copyrights {
	background-color: black;
	color: white;
	font-size: 15px;
	font-weight: 400;
	line-height: 27.19px;
	padding-bottom: 10px;
}

.copyrights div {
	width: 80%;
}

@media (max-width: 1512px){
	.contact-box .field, .contact-box .btn{
		width: 338px;
	}
	.copyrights {
		line-height: 23px;
	}
}

@media (max-width: 1440px){
	.contact-box .field, .contact-box .btn{
		width: 354px;
	}
}

@media (max-width: 1280px){
    .contact-box .field, .contact-box .btn{
		width: 388px;
	}
}

@media (max-width: 1024px){
    .contact-box .field, .contact-box .btn{
		width: 354px;
	}
	.copyrights {
		text-align: center;
	}
}

@media (max-width: 430px){
	.contact-box .field, .contact-box .btn{
		width: 265px;
	}
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.contact-box .left{
		height: 200px;
	}
	.contact-container{
		padding: 20px 0;
	}
}

@media screen and (max-width: 390px){
	.contact-box .right{
		padding: 50px 20px;
	}
	.contact-box h2{
		font-size: 12px;
	}
	.copyrights {
		background-color: black;
		color: white;
		font-size: 12px;
	}
	.copyrights div {
		width: 95%;
	}
}