* {
    box-sizing: border-box;
    padding:0;
    height: auto;
    flex: content;
    margin: 0 auto;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.hebrow {
    font-family: 'Heebo', sans-serif;
}

.header-container {
    width: 100%;
    height: 90vh;
    left: 0px;
    top: 0px;
    display: flex;
    display: grid;
    grid-template-rows: 1.7fr 5fr;
    /* background-color: #2F24AE; */
    background-image: url('../../img//Background\ English.png');
    background-size: cover;
    background-position: right;
}

.header-logo {
    width: 82%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.header-logo img {
    width: 140px;
}

.change-language-div {
    text-align: right;
}

.change-language {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.header-info {
    width: 82%;
    display: grid;
    justify-content: flex-start;
    z-index: 1;
    grid-template-columns: 4fr 2fr;
}

.header-text {
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.header-text .title h2{
    font-weight: 800;
    font-size: 70px;
    line-height: 86px;
    color: #DADAFF;
}
.header-text .title div h5{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}
.header-text .title div .bold {
    font-weight: 700;
}
.header-text .title div{
    margin-top: 60px;
}
.header-button-div {
    width: 100%;
}
.header-button {
    width: 394px;
    height: 65px;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #2F24AE;
    border: 0;
    transition: 250ms ease-in-out;
    font-family: 'Poppins', sans-serif;
}
.header-button:hover {
    background-color: #DADAFF;
}

.header-photo {
    width: 100%;
    position: relative;
}
.header-photo img {
    margin-top: 35px;
    width: 400px;
    position: absolute;
    right: 38px;
}

/* .background-pic img{
    position: absolute;
    width: 450px;
    height: 450px;
    right: 0;
    top: 8vh;
    opacity: 0.1;
} */

@media (max-width: 1728px){
    .header-container {
        height: 793px;
    }
	.header-photo img {
        margin-top: 10px;
        right: 0;
    }
    .header-text .title h2 {
        font-weight: 800;
        font-size: 60px;
        line-height: 75px;
    }
    .header-text .title div h5 {
        font-weight: 400;
        font-size: 17px;
        line-height: 32px;
    }
    .header-button {
        width: 443px;
        height: 65px;
        font-weight: 800;
        font-size: 15px;
        line-height: 20px;
    }
}

@media (max-width: 1512px){
	.header-photo img {
        width: 370px;
    }
    .header-text .title h2 {
        font-weight: 800;
        font-size: 55px;
        line-height: 70px;
    }
    .header-text .title div h5 {
        font-weight: 400;
        font-size: 17px;
        line-height: 32px;
    }
    .header-button {
        width: 354px;
        height: 65px;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 1440px){
    .header-container {
        height: 802px;
    }
    .header-text .title h2 {
        font-weight: 800;
        font-size: 55px;
        line-height: 70px;
    }
    .header-text .title div h5 {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }
    .header-button {
        width: 354px;
        height: 65px;
        font-weight: 800;
        font-size: 15px;
        line-height: 20px;
    }
}

@media (max-width: 1280px){
    .header-container {
        height: 804px;
    }
    .header-text {
        grid-template-rows: 1.8fr 1.2fr;
    }
    .header-photo img {
        margin-top: 25px;
        right: -10px;
    }
    .header-text .title h2 {
        font-weight: 800;
        font-size: 50px;
        line-height: 65px;
    }
    .header-text .title div h5 {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }
    .header-button {
        width: 354px;
        height: 65px;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 1200px){
    .header-logo {
        width: 80%;
        margin-top: 60px;
    }
    .header-info {
        width: 80%;
        grid-template-columns: 1fr;
    }
    .header-photo {
        display: none;
    }
    .header-text .title h2 {
        font-weight: 800;
        font-size: 65px;
        line-height: 82px;
    }
    .header-text .title div{
        margin-top: 60px;
    }
    .header-text .title div h5 {
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
    }
    .header-button {
        width: 354px;
        height: 65px;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 1024px){
    .header-container {
        height: 834px;
    }
}

@media (max-width: 975px){
    .header-logo {
        margin-top: 40px;
    }
    .header-text .title h2 {
        font-weight: 800;
        font-size: 51px;
        line-height: 65px;
    }
    .header-text .title div h5 {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }
    .header-button {
        width: 354px;
        height: 65px;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 500px){
    .header-container {
        height: 747px;
    }
    .header-logo img {
        width: 120px;
    }
    .header-text {
        grid-template-rows: 2fr 1fr;
    }
    .header-info {
        text-align: center;
    }
    .header-text .title h2 {
        font-size: 43px;
        line-height: 50px;
    }
    .header-text .title div{
        margin-top: 40px;
    }
    .header-text .title div h5 {
        line-height: 24px;
    }
    .header-button {
        width: 290px;
    }
}

@media (max-width: 390px){
    .header-container {
        height: 671px;
    }
    .header-info {
        text-align: center;
    }
}

@media (max-width: 360px){
    .header-button {
        width: 265px;
    }
}