.service-container {
    width: 70%;
}

.service-header {
    text-align: center;
    margin: 70px 0;
    font-weight: 800;
    font-size: 50px;
    line-height: 70px;
    color: #2F24AE;
}

.service-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 70px;
    grid-gap: 150px;
}

.service-row h2 {
    color: #2F24AE;
    font-size: 16px;
    font-weight: 800;
    line-height: 27px;
    margin: 10px 0;
}

.service-row p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

@media (max-width: 1024px){
    
}

@media (max-width: 834px){

}

@media (max-width: 834px){

}

@media (max-width: 834px){

}

@media (max-width: 1400px) {
    .service-row {
        grid-gap: 100px;
    }
}

@media (max-width: 1250px) {
    .service-row {
        display: block;
        margin-bottom: 0;
    }
    .service {
        width: 100%;
        text-align: center;
        margin-bottom: 80px;
    }
}