
.testimonials{
    padding: 100px 0;
    background: #DADAFF;
    color: #2F24AE;
    text-align: center;
}
.testimonials .inner{
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.inner h1 {
    margin-bottom: 120px;
    font-weight: 800;
    font-size: 50px;
    line-height: 70px;
    color: #2F24AE;
}

.testimonials .row {
    display: flex;
    justify-content: center;
    width: 80%;
}

.ipad-row {
    display: none;
}

.testimonials .col {
    background: #2F24AE;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    color: #ffff;
    height: 538px;
    width: 462.82px;
    margin: 0 47px;
}
.testimonial {
    height: 538px;
    width: 462.82px;
    display: flex;
    flex-direction: column;
}
.testimonial p {
    color: #DADAFF;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}
.testimonial .p-div {
    margin-top: 60px;
}
.testimonial .name {
    font-weight: 800;
    font-size: 16px;
    line-height: 32px;
    margin-top: 40px;
}
.comma {
    margin-top: 90px;
    width: 13%;
}

@media (max-width: 1728px){
    .testimonials{
        padding-top: 50px;
        padding-bottom: 150px;
    }
    .inner h1 {
        margin-bottom: 70px;
        font-size: 40px;
    }
    .testimonials .col {
        height: 573px;
        width: 437px;
        margin: 0 30px;
    }
    .testimonial {
        height: 573px;
        width: 437px;
    }
    .testimonial p {
        /* width: 55%; */
        line-height: 29px;
    }
    .testimonial .p-div {
        margin-top: 40px;
    }
    .testimonial .name {
        line-height: 34px;
    }
}

@media (max-width: 1512px){
    .testimonials .col {
        height: 501px;
        width: 383px;
    }
    .testimonial {
        height: 501px;
        width: 383px;
    }
    .testimonial p {
        line-height: 25px;
    }
    .testimonial .name {
        line-height: 29px;
    }
}

@media (max-width: 1440px){
    .testimonials{
        padding: 70px 0;
    }
    .testimonials .col {
        height: 412px;
        width: 354.5px;
        margin: 0 22px;
    }
    .testimonial {
        height: 412px;
        width: 354.5px;
    }
    .testimonial p {
        /* width: 70%; */
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
    }
    .testimonial .p-div {
        margin-top: 20px;
    }
    .testimonial .name {
        line-height: 24px;
        margin-top: 30px;
    }
    .comma {
        margin-top: 70px;
    }
}

@media (max-width: 1280px){
    .testimonials{
        padding-top: 50px;
        padding-bottom: 150px;
    }
    .testimonials .col {
        height: 381px;
        width: 324px;
        margin: 0 30px;
    }
    .testimonial {
        height: 381px;
        width: 324px;
    }
    .testimonial p {
        /* width: 75%; */
        line-height: 23px;
    }
    .testimonial .p-div {
        margin-top: 10px;
    }
    .testimonial .name {
        line-height: 22.64px;
    }
}

@media (max-width: 1024px){
    .testimonials{
        padding: 70px 0;
    }
    .inner h1 {
        font-size: 50px;
    }
    .testimonials .row {
        display: none;
    }
    
    .ipad-row {
        display: block;
    }
    .ipad-row1 {
        display: flex;
        width: 849px
    }
    .ipad-row2 {
        display: flex;
        justify-content: center;
        width: 354.5px;
        margin-top: 70px;
    }
    .testimonials .col {
        height: 412px;
        width: 354.5px;
        margin: 0 35px;
    }
    .testimonial {
        height: 412px;
        width: 354.5px;
    }
    .testimonial p {
        /* width: 70%; */
        line-height: 22px;
    }
    .testimonial .name {
        line-height: 24.46px;
    }
}

@media (max-width: 834px){
    .testimonials {
        padding: 40px;
    }
    .inner h1 {
        font-size: 35px;
        margin-bottom: 0;
    }
    .testimonials .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ipad-row {
        display: none;
    }
    .testimonials .col {
        height: 412px;
        margin-top: 40px;
    }
    .testimonial {
        height: 412px;
    }
    .testimonial p {
        line-height: 22px;
    }
}

@media (max-width: 430px){
    .testimonials .col {
        height: 308px;
        width: 287.08px;
    }
    .testimonial {
        height: 308px;
        width: 287.08px;
    }
    .testimonial p {
        line-height: 25px;
        /* width: 90%; */
    }
    .testimonial .name {
        line-height: 18.29px;
        padding-bottom: 20px;
    }
    .comma {
        margin-top: 70px;
        width: 10%;
    }
}

@media (max-width: 360px){
    .testimonials .col {
        width: 265px;
    }
    .testimonial {
        width: 265px;
    }
}