* {
    box-sizing: border-box;
    padding:0;
    height: auto;
    flex: content;
    margin: 0 auto;
}

body {
    font-family: 'Heebo', sans-serif;
}

.english {
    font-family: 'Poppins', sans-serif;
}

.header-container {
    width: 100%;
    /* height: 855px; */
    height: 85vh;
    left: 0px;
    top: 0px;
    display: flex;
    display: grid;
    grid-template-rows: 1.7fr 5fr;
    /* background-color: #2F24AE; */
    background-image: url('../../img/Beackground\ Hebrew.png');
    background-size: cover;
}

.header-logo {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.header-logo img {
    width: 130px;
}

.change-language-div {
    text-align: left;
}

.change-language {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.header-info {
    width: 70%; 
    display: grid;
    justify-content: flex-start;
    z-index: 1;
    grid-template-columns: 4fr 2fr;
}

.header-text {
    width: 100%;
    text-align: start;
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.header-text .title{
    width: 100%;
    text-align: start;
}
.header-text .title h2{
    font-size: 70px;
    font-weight: 800;
    line-height: 86px;
    color: #DADAFF;
}
.header-text .title div{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 30px;
}
.header-button-div {
    width: 100%;
}
.header-button {
    width: 394px;
    height: 65px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #2F24AE;
    border: 0;
    transition: 250ms ease-in-out;
    font-family: 'Heebo', sans-serif;
}
.header-button:hover {
    background-color: #DADAFF;
}

.header-photo {
    width: 100%;
    position: relative;
}
.header-photo img {
    margin-top: 45px;
    width: 400px;
    position: absolute;
    left: -50px;
}

/* .background-pic img{
    position: absolute;
    width: 450px;
    height: 450px;
    left: 0;
    top: 8vh;
    opacity: 0.1;
} */

@media (max-width: 1728px){
    .header-logo {
        width: 80%;
    }
    .header-info {
        width: 80%;
    }
    /* .header-container {
        height: 793px;
    } */
    .header-photo img {
        margin-top: 30px;
        left: 0;
    }
    .header-text .title h2 {
        font-size: 60px;
    }
}

@media (max-width: 1512px){
    .header-text .title h2 {
        font-size: 55px;
    }
}

@media (max-width: 1440px){
    /* .header-container {
        height: 802px;
    } */
    .header-text .title h2 {
        font-size: 60px;
        line-height: 75px;
    }
}

@media (max-width: 1280px){
    /* .header-container {
        height: 804px;
    } */
    .header-text .title h2 {
        font-size: 55px;
        line-height: 65px;
    }
    .header-text .title div{
        font-size: 15px;
        line-height: 25px;
    }
    .header-button {
        font-size: 16px;
    }
}

@media (max-width: 1265px){
    /* .header-container {
        height: 785px;
    } */
    .header-info {
        grid-template-columns: 1fr;
    }
    .header-photo {
        display: none;
    }
    .header-text .title h2 {
        font-size: 55px;
        line-height: 70px;
    }
    .header-text .title div{
        font-size: 18px;
        line-height: 32px;
    }
    .header-button {
        width: 353px;
    }
}

@media (max-width: 975px){
    .header-container {
        height: 787px;
    }
    .header-text .title h2 {
        font-size: 50px;
        line-height: 65px;
    }
    .header-text .title div{
        font-size: 15px;
        line-height: 25px;
    }
}

@media (max-width: 500px){
    .header-container {
        height: 747px;
    }
    .header-text, .header-text .title {
        text-align: center;
    }
    .header-text .title h2 {
        font-size: 43px;
        line-height: 50px;
    }
    .header-text .title div{
        font-size: 18px;
    }
    .header-button {
        font-size: 19px;
        width: 290px;
    }
}

@media (max-width: 390px){
    .header-container {
        height: 671px;
    }
}

@media (max-width: 360px){
    .header-button {
        width: 265px;
    }
}